.section{
    display:flex;
    flex-direction:row;
    justify-content: center;
    background-color: #ffebff;
}

.products-section{
    background-color: #c7dcff;
}

.product-carousel {
    height:100%;
}

.section-text{
    max-width:50%;
    padding: 30px;
}

.section-img{
    width:50%;
}

.about-me-img{
    height:100%;
    width:100%;
}

.carousel-img{
    height:50%;
    width:50%
}