.section{
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding: 30px;
    background-color:grey;
}

.section-text{
    width:50%;
}

.section-img{
    width:50%;
}

.about-me-img{
    height:100px;
    width:100px;
}