
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi");

.App {
  text-align: center;
  background-color: #fffae0;
}

.logo {
  width:30%;
  height:30%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.title{
  font-family: 'Ms Madi', cursive;
  color:#5E391E;
}